.List {
  background-color: #21212B;
  border-radius: 4px;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.Items {
  list-style: none;
  max-height: 380px;
  overflow-y: auto;
}

.ListEmpty {
  align-items: center;
  display: flex;
  min-height: 62px;
  padding: 16px;
}

.Footer {
  border-top: 1px solid #373748;
  padding: 10px 16px;
}

.ItemsLeft {
  font-size: 14px;
}